.card {
    height: auto;
    width: 80vw;
    border: 1px solid #808080;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textFields {
    height: 40px;
    width:30vw;
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 5px
}
button {
    background-color: #5cb85c;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 40px;
    width:20vw;
    margin: 10px;
}
